.tm-footer
  .uk-container.uk-container-center.uk-text-center
    .uk-panel
      %img{:src => "images/logo.png", :width => 120, :height => 30}
    Copyright &copy; 2016 -
    :javascript
      document.write(new Date().getFullYear())
