%header
  %nav#nav.utm-navbar.uk-navbar.uk-navbar-attached.uk-position-z-index
    .uk-flex.uk-flex-middle.uk-flex-center.uk-flex-space-between
      %a.tm-logo.uk-navbar-brand.uk-hidden-small{:href => "/"}
        %img.uk-margin.uk-margin-remove{:src => "images/logo.png", :width => 105, :height => 30}
      %ul.uk-navbar-nav.uk-hidden-small
        %li
          %a{:href => "/"} Home
        %li
          %a{:href => "aboutme.html"} About Me
        %li
          %a{:href => "portfolio.html"} Portfolio
