%header
  %nav#nav.utm-navbar.uk-navbar.uk-navbar-attached.uk-position-z-index.uk-nav-header
    .uk-flex.uk-flex-middle.uk-flex-center.uk-flex-space-between
      = link_to image_tag("logo.png", class: 'uk-margin uk-margin-remove', style: 'width: 110px; height: auto;'), 'index.html', class: 'uk-navbar-brand uk-hidden-small'
      %ul.uk-navbar-nav.uk-hidden-small
        %li= link_to "Home", "index.html"
        %li= link_to "About Me", "about_me.html"
        %li= link_to "Portfolio", "portfolio.html"
