.tm-block.tm-block-top-b.tm-block-padding-large.uk-margin-top
  .uk-container.uk-container-center
    %section.tm-top-b.uk-grid
      .uk-width-1-1
        .uk-panel
          .tm-panel-header.uk-margin-large-bottom.uk-text-center
            %h2.uk-panel-title About Me
            %hr
            %p.tm-panel-header-subtitle.uk-margin-small-top Fast learner. Faster earner
            %br
            %br
            .uk-grid-width-1-1.uk-grid-width-large-1-2.uk-grid-width-xlarge-1-2.uk-grid.uk-text-left
              %div
                .uk-panel.tm-panel-header{style: 'min-height: 512px;'}
                  .uk-margin
                    = image_tag("calle.jpg", class: 'uk-border-rounded uk-align-medium-left', style: 'width: 300px; height: auto;')
              %div
                .uk-panel.tm-panel-header{style: 'min-height: 512px;'}
                  %h3.uk-panel-title Who am I?
                  .uk-margin-top
                    %p.tm-paragraph
                      Lets get the boring stuff out of the way. My name is Carl-Philip and I'm a 21-year old developer in the making from Sweden. I'm born and raised in a small town called Nykvarn, 30 minutes outside of the capital.
                      %br
                      %br My latest endeavour is taking on the world of code. I'm taking a
                      = link_to "course", "https://craftacademy.se/", target: "_blank"
                      in programming. I strive to become the best coder I can be. The languages I'm studying at the moment are:
                      %ul
                        %li HTML
                        %li Ruby
                        %li CSS
                        %li JavaScript
