.tm-block.tm-block-top-b.tm-block-padding-large.uk-margin-top
  .uk-container.uk-container-center
    %section.tm-top-b.uk-grid
      .uk-width-1-1
        .uk-panel
          .tm-panel-header.uk-margin-large-bottom.uk-text-center
            %h2.uk-panel-title About Me
            %hr
            %p.tm-panel-header-subtitle.uk-margin-small-top Fast learner. Faster earner
