---
title: The Chosen One
---

<div class="welcome">
  <div class="logo">
    <%= image_tag "calle.jpg" %>
  </div>
  <h1>Calle is our lord and savior, all heil Calle!</h1>
  <p class="doc">
    <%= link_to "Read About the God", "https://middlemanapp.com", target: "_blank" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
