---
title: The Chosen One
---
.uk-cover-background.uk-position-relative
  %img{:src => "images/hero.png"}
#welcome.uk-container.uk-container-center.uk-margin-top
  #logo.uk-text-center
    %h1 Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows. Some pilots get picked and become television programs. Some don't, become nothing. She starred in one of the ones that became nothing.         Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'? Calle is our lord and savior, all heil Calle!         Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it? Do you see a little Asian child with a blank expression on his face sitting outside on a mechanical helicopter that shakes when you put quarters in it? No? Well, that's what you see at a toy store. And you must think you're in a toy store, because you're here shopping for an infant named Jeb.


    %p.doc
      = link_to "Behold Gods Creations", "https://github.com/callea2/", target: "_blank"
