---
title: The Chosen One
---

.welcome
  .logo
    = image_tag "calle.jpg"
  %h1 Calle is our lord and savior, all heil Calle!
  %p.doc
    = link_to "Read About the God", "https://middlemanapp.com", target: "_blank"
