---
title: The Chosen One
---
= partial "partials/header"

#welcome.uk-container.uk-container-center.uk-margin-top
  #logo.uk-text-center
    = image_tag "calle.jpg", width: '400', height: '400'
    %h1 Calle is our lord and savior, all heil Calle!
    %p.doc
      = link_to "Behold Gods Creations", "https://github.com/callea2/", target: "_blank"
