---
title: The Chosen One
---
.uk-cover-background
  = image_tag "hero.png"
#welcome.uk-container.uk-container-center.uk-margin-top
  #logo.uk-text-center
    %h1 Calle is our lord and savior, all heil Calle!
    %p.doc
      = link_to "Behold Gods Creations", "https://github.com/callea2/", target: "_blank"
    %br
